.photo-item img {
  width: 100%;
  border-radius: 7.5px;
}

#home .photo-item h2 {
  margin-bottom: .2em;
}

.photo-author h2 {
  text-align: left;
}

.photo-author {
  text-align: left;
}

.photo-author a {
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  color: var(--a_color);
}